.nav {
    grid-area: n;
    background-color: lightsalmon;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: goldenrod;
}

.friends {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: white;
}

.friend img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.friend {

}

.title {
}
